@{
    ViewBag.Title = "Index";
}

<!--WojLastDay-->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load("visualization", "1", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        $.ajax({
            type: "POST",
            url: "/WojLastDayAvg/AjaxMethod",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
            var data = google.visualization.arrayToDataTable(r);

               var options = {
                    title: 'Zgony w województwach - dane z ostatniego dnia aktualizacji',
                    vAxis: { title: 'ilość' },
                    hAxis: { title: 'województwo' },
                    seriesType: 'bars',
                    series: { 2: { type: 'line' } }
                };
                chart = new google.visualization.ComboChart($("#chart")[0]);
                chart.draw(data, options);
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }
</script>
<div id="chart" style="width: auto; height: 500px;">
</div>