@{
    ViewBag.Title = "Index";
}

<!--PowTestyAll ZOOM-->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type='text/javascript'>
    google.charts.load('current', { 'packages': ['annotationchart'] });

    google.charts.setOnLoadCallback(function () {
        drawChart();
        $("#powiat_miasto").on("change", function () {
            drawChart();
        });
    });

    function drawChart() {

    var powiat_miasto = $("#powiat_miasto option:selected").val();

    $.ajax({
        type: "POST",
        url: "/PowTestyAll/AjaxMethod",
        data: "{powiat_miasto: '" + powiat_miasto + "'}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (r) {

            for (var i = 0; i < r.length; i++)
                r[i][0] = new Date(r[i][0]);

            var data = google.visualization.arrayToDataTable(r);

            var options = {
                displayAnnotations: false
            };

            var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        },
        failure: function (r) {
            alert(r.d);
        },
        error: function (r) {
            alert(r.d);
        }
    });
    }
</script>

@using (Html.BeginForm("AjaxMethod", "PowZgonyAll", FormMethod.Post))
{
    <h3>Testy według 10-ciu największych miast w Polsce</h3>

    @Html.DropDownList("powiat_miasto", (SelectList)ViewBag.powiat_miasto, new { @class = "form-control", style = "width:300px; height:35px;" })

    <div id="chart_div" style="width: auto; height:700px;">
    </div>
}



