@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load("visualization", "1", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            $.ajax({
                type: "POST",
                url: "/PowRegressionDay14/AjaxMethod",
                data: '{}',
                isStacked: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var data = google.visualization.arrayToDataTable(r);

                    var options = {
                        hAxis: { minValue: 0, maxValue: 400 },
                        vAxis: { minValue: 0, maxValue: 1000 },
                        chartArea: { width: '50%' },
                        trendlines: {
                            0: {
                                type: 'linear',
                                showR2: true,
                                visibleInLegend: true
                            }
                        }
                    };

                    var chartLinear = new google.visualization.ScatterChart(document.getElementById('chartLinear'));
                    chartLinear.draw(data, options);

                    options.trendlines[0].type = 'exponential';
                    options.colors = ['#6F9654'];

                    var chartExponential = new google.visualization.ScatterChart(document.getElementById('chartExponential'));
                    chartExponential.draw(data, options);

                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
        }
    </script>
</head>

<body>
    <h3> Badanie regresji liniowej i wykładniczej dla danych z ostatnich 14 dni </h3>
    <div id="chartLinear" style="height: 500px; width: auto"></div>
    <div id="chartExponential" style="height: 500px; width: auto"></div>
</body>
</html>