@{
    ViewBag.Title = "Index";
}

<!--PowRegressionDay14-->


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', { 'packages': ['corechart'] });

    google.setOnLoadCallback(function () {
        drawChart();
        $("#powiat_miasto").on("change", function () {
            drawChart();
        });
    });

    google.setOnLoadCallback(function () {
        drawChart1();
        $("#powiat_miasto").on("change", function () {
            drawChart1();
        });
    });

    //google.charts.load("visualization", "1", { packages: ["corechart"] });
    //google.charts.setOnLoadCallback(drawChart);
    //google.charts.setOnLoadCallback(drawChart1);

    function drawChart() {
        var powiat_miasto = $("#powiat_miasto option:selected").val();

        $.ajax({
            type: "POST",
            url: "/PowRegressionDay14/AjaxMethod",
            data: "{powiat_miasto: '" + powiat_miasto + "'}",
            isStacked: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var data = google.visualization.arrayToDataTable(r);

                var options = {
                    hAxis: { minValue: 0, maxValue: 50 },
                    vAxis: { minValue: 0, maxValue: 50 },
                    chartArea: { width: '50%' },
                    trendlines: {
                        0: {
                            type: 'linear',
                            showR2: true,
                            visibleInLegend: true
                        }
                    }
                };

                var chartLinear = new google.visualization.ScatterChart(document.getElementById('chartLinear'));
                chartLinear.draw(data, options);

                options.trendlines[0].type = 'exponential';
                options.colors = ['#6F9654'];

                var chartExponential = new google.visualization.ScatterChart(document.getElementById('chartExponential'));
                chartExponential.draw(data, options);

            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }



    function drawChart1() {

        var powiat_miasto = $("#powiat_miasto option:selected").val();

        $.ajax({
            type: "POST",
            url: "/PowRegressionDay14/AjaxMethod1",
            data: "{powiat_miasto: '" + powiat_miasto + "'}",
            //data: '{}',
            isStacked: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var data = google.visualization.arrayToDataTable(r);

                var options = {
                    hAxis: { minValue: 0, maxValue: 50},
                    vAxis: { minValue: 0, maxValue: 50 },
                    chartArea: { width: '50%' },
                    trendlines: {
                        0: {
                            type: 'linear',
                            showR2: true,
                            visibleInLegend: true
                        }
                    }
                };

                var chartLinear = new google.visualization.ScatterChart(document.getElementById('chartLinear1'));
                chartLinear.draw(data, options);

                options.trendlines[0].type = 'exponential';
                options.colors = ['#6F9654'];

                var chartExponential = new google.visualization.ScatterChart(document.getElementById('chartExponential1'));
                chartExponential.draw(data, options);

            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }
</script>

@using (Html.BeginForm("AjaxMethod", "PowRegressionDay14", FormMethod.Post))
{
    @Html.Label("miasto: ")
    @Html.DropDownList("powiat_miasto", (SelectList)ViewBag.powiat_miasto, new { @class = "form-control", style = "width:300px; height:35px;" })
  
    
    <h3> Badanie regresji liniowej i wykładniczej dla danych z ostatnich 14 dni </h3>
    <div id="chartLinear" style="height: 500px; width: auto"></div>
    <div id="chartExponential" style="height: 500px; width: auto"></div>
    <h3> Badanie regresji liniowej i wykładniczej dla danych z ostatnich 14 dni <br /> oprócz danych z sobót i niedziel </h3>
    <div id="chartLinear1" style="height: 500px; width: auto"></div>
    <div id="chartExponential1" style="height: 500px; width: auto"></div>
}



