@{
    ViewBag.Title = "Index";
}

<!--PowRegressionDay14-->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    google.charts.load('current', { 'packages': ['corechart'] });

    google.setOnLoadCallback(function () {
        drawChart();
        $("#powiat_miasto").on("change", function () {
            drawChart();
        });
    });

    google.setOnLoadCallback(function () {
        drawChart1();
        $("#powiat_miasto").on("change", function () {
            drawChart1();
        });
    });


    function drawChart() {
        var powiat_miasto = $("#powiat_miasto option:selected").val();

        $.ajax({
            type: "POST",
            url: "/PowRegressionDay14/AjaxMethod",
            data: "{powiat_miasto: '" + powiat_miasto + "'}",
            isStacked: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (dt) {
                var maksimum = Math.max(dt);
                var data = google.visualization.arrayToDataTable(dt);
                var options = {
                    hAxis: { minValue: 0, maxValue: maksimum },
                    vAxis: { minValue: 0, maxValue: maksimum },
                    chartArea: { width: '50%' },
                    trendlines: {
                        0: {
                            type: 'linear',
                            showR2: true,
                            visibleInLegend: true
                        }
                    }
                };

                var chartLinear = new google.visualization.ScatterChart(document.getElementById('chartLinear'));
                chartLinear.draw(data, options);

                options.trendlines[0].type = 'exponential';
                options.colors = ['#6F9654'];

                var chartExponential = new google.visualization.ScatterChart(document.getElementById('chartExponential'));
                chartExponential.draw(data, options);

            },
            failure: function (dt) {
                alert(dt.d);
            },
            error: function (dt) {
                alert(dt.d);
            }
        });
    }



    function drawChart1() {

        var powiat_miasto = $("#powiat_miasto option:selected").val();

        $.ajax({
            type: "POST",
            url: "/PowRegressionDay14/AjaxMethod",
            data: "{powiat_miasto: '" + powiat_miasto + "'}",
            isStacked: true,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (dt) {
                var maksimum = Math.max(dt);
                var data = google.visualization.arrayToDataTable(dt);
                var options = {
                    hAxis: { minValue: 0, maxValue: maksimum },
                    vAxis: { minValue: 0, maxValue: maksimum },
                    chartArea: { width: '50%' },
                    trendlines: {
                        0: {
                            type: 'linear',
                            showR2: true,
                            visibleInLegend: true
                        }
                    }
                };

                var chartLinear = new google.visualization.ScatterChart(document.getElementById('chartLinear1'));
                chartLinear.draw(data, options);

                options.trendlines[0].type = 'exponential';
                options.colors = ['#6F9654'];

                var chartExponential = new google.visualization.ScatterChart(document.getElementById('chartExponential1'));
                chartExponential.draw(data, options);

            },
            failure: function (dt) {
                alert(dt.d);
            },
            error: function (dt) {
                alert(dt.d);
            }
        });
    }
</script>

@using (Html.BeginForm("AjaxMethod", "PowRegressionDay14", FormMethod.Post))
{
    <br/>

    <hr/>
    <span>
        <b>Dopasowanie wg. współczynnika determinacji R<sup>2</sup></b> <br/>
        0.0-0.5 niezadowalające<br/>
        0.5-0.6 słabe<br/>
        0.6-0.8 zadowalające<br/>
        0.8-0.9 dobre<br/>
        0.9-1.0 bardzo dobre<br/>
    </span> 
    <hr/>
    @Html.DropDownList("powiat_miasto", (SelectList)ViewBag.powiat_miasto, new { @class = "form-control", style = "width:300px; height:35px;" })

    <h4> Badanie regresji liniowej i wykładniczej dla danych z ostatnich 14 dni </h4>
    <div id="chartLinear" style="height: 500px; width: auto"></div>
    <div id="chartExponential" style="height: 500px; width: auto"></div>
    <h4> Badanie regresji liniowej i wykładniczej dla danych z ostatnich 14 dni <br /> oprócz danych z sobót i niedziel </h4>
    <div id="chartLinear1" style="height: 500px; width: auto"></div>
    <div id="chartExponential1" style="height: 500px; width: auto"></div>
}

