<!--STRONA GŁÓWNA-->


@using System.Data
@model DataSet
@{
    ViewBag.Title = "Index";
}

<h4><b>
    Aplikacja webowa do wizualizacji danych statystycznych i dynamiki
    zakażeń SARS-CoV-2 w Polsce
</b></h4>

<h4><b>
    Web application for visualization of statistical data and dynamics
    of SARS-CoV-2  infections in Poland
</b></h4>
<br />
<br />
<br />
@foreach (DataRow row in Model.Tables[0].Rows)
{
    <table style="font-weight: bold;">
        <tr>
            <td>Dane dla województw: </td>
            <td> &nbsp; @row["minw"] - @row["maxw"] </td>
        </tr>
        <tr>
            <td>Dane dla 10-ciu najwięszkych miast: </td>
            <td> &nbsp;  @row["minp"] - @row["maxp"] </td>
        </tr>
    </table>
}
<br />
<br />

Oznaczenia: <b>M</b> - mapa interaktywna Polski, <b>T</b> - tabela danych,  <b>W</b> - wykres interaktywny danych

