@{
    ViewBag.Title = "Index";
}

<!--WojTrendMonth-->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

    google.charts.load('current', { 'packages': ['corechart'] });
    google.setOnLoadCallback(function () {
        drawChart();
        $("#wojewodztwo").on("change", function () {
            drawChart();
        });
    });


    function drawChart() {
        var wojewodztwo = $("#wojewodztwo option:selected").val();

        $.ajax({
            type: "POST",
            url: "/WojTrendMonth/AjaxMethod",
            data: "{wojewodztwo: '" + wojewodztwo + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var data = google.visualization.arrayToDataTable(r);


                options = {
                    title: 'Trend miesieczny zgonów dla województw w Polsce',
                    is3D: true,
                    legend: {
                        position: 'bottom',
                        alignment: 'center',
                        orientation: 'vertical',
                    }
                };

                chart = new google.visualization.ColumnChart($("#chart")[0]);
                chart.draw(data, options);
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }
</script>

@using (Html.BeginForm("AjaxMethod", "WojTrendMonth", FormMethod.Post))
{
    @Html.Label("województwo: ")
    @Html.DropDownList("wojewodztwo", (SelectList)ViewBag.wojewodztwo, new { @class = "form-control", style = "width:300px; height:35px;" })

    <div id="chart" style="width: 1200px; height: 600px;">
    </div>
}