
@{
    ViewBag.Title = "Index";
}

<!--PowZgony-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    google.charts.load('current', { 'packages': ['corechart'] });
    google.setOnLoadCallback(function () {
        drawChart();
        $("#stan_rekordu_na").on("change", function () {
            drawChart();
        });
    });

    function drawChart() {

        var stan_rekordu_na = $("#stan_rekordu_na option:selected").val();

        $.ajax({
            type: "POST",
            url: "/PowPie/AjaxMethod",
            data: "{stan_rekordu_na: '" + stan_rekordu_na + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var data = google.visualization.arrayToDataTable(r);
                //Pie
                var options = {
                    title: 'Wykres kołowy zgonów wg. miast'
                };
                var chart = new google.visualization.PieChart($("#chart1")[0]);
                chart.draw(data, options);

                //.ColumnChart
                options = {
                    title: 'Wykres kolumnowy zgonów wg. miast',
                    is3D: true
                };
                chart = new google.visualization.ColumnChart($("#chart2")[0]);
                chart.draw(data, options);

                options = {
                    title: 'Table',
                    is3D: true,
                    legend: { position: 'none' },
                    colors: ['#e7711c'],
                    histogram: { lastBucketPercentile: 5 },
                    vAxis: { scaleType: 'mirrorLog' }

                };

            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    }
</script>

@using (Html.BeginForm("AjaxMethod", "PowPie", FormMethod.Post))
{
    <h3>Zgony w miastach według daty</h3>
    @Html.DropDownList("stan_rekordu_na", (SelectList)ViewBag.stan_rekordu_na, new { @class = "form-control", style = "width:300px; height:35px;" })

    <div id="chart2" style="width: 1000px; height: 500px; border: 1px solid;"></div>
    <br />
    <div id="chart1" style="width: 1000px; height: 650px; border: 1px solid;"></div>
}
